// Main Blue 078AC3
// Dark Blue 035172
// Dark Middle 046792
// Light Middle 2997C7
// Light Blue 4FA8CF

.container {
    margin: 0 auto;
    width: 50%;

    .header {
        text-align: center;
    }

    .btns {
        display: flex;
        justify-content: space-evenly;

        .clear-btn {
            border: none;
            background: #4FA8CF;
            border-radius: 10px;
            width: 20%;

            &:focus {
                outline: none;
            }

            &:hover {
                border: 1px;
                background: rgba($color: #4FA8CF, $alpha: 0.6)
            }
        }
    }
}